.settings/

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Eclipse Core
.project

# IntelliJ
.idea/
syntax: glob
clouddb.iml

# Class files
out/
data.store
testing\testing.iml
classes/
logs/
bin/