# IntelliJ
.idea/
*.iml
*.MF

.settings/

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Class files
out/*
classes/*
bin/*

# Project specific
logs/*
logs/*.log
data.store*

# Measurement results
PUT_results_*.txt
GET_results_*.txt
results_*.txt

