# Set root logger level to DEBUG and its only appender to A1.
log4j.rootLogger=DEBUG, A1

# A1 is set to be a ConsoleAppender.
log4j.appender.A1=org.apache.log4j.FileAppender
log4j.appender.A1.File=logs/root.log
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n


#Splitting the log files based on package
log4j.logger.app_kvClient=DEBUG, client
log4j.logger.app_kvServer=DEBUG, server
log4j.logger.app_kvEcs=DEBUG, ecs
log4j.logger.client=DEBUG, client_backend

log4j.logger.common.messages=DEBUG, common
log4j.logger.common.utils=DEBUG, common
log4j.logger.common.helpers=DEBUG, common
log4j.logger.common.logger=DEBUG, common

log4j.appender.server=org.apache.log4j.FileAppender
log4j.appender.server.File=logs/server.log
log4j.appender.server.layout=org.apache.log4j.PatternLayout
log4j.appender.server.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n

log4j.appender.ecs=org.apache.log4j.FileAppender
log4j.appender.ecs.File=logs/ecs.log
log4j.appender.ecs.layout=org.apache.log4j.PatternLayout
log4j.appender.ecs.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n


log4j.appender.client=org.apache.log4j.FileAppender
log4j.appender.client.File=logs/client.log
log4j.appender.client.layout=org.apache.log4j.PatternLayout
log4j.appender.client.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n

log4j.appender.client_backend=org.apache.log4j.FileAppender
log4j.appender.client_backend.File=logs/client.log
log4j.appender.client_backend.layout=org.apache.log4j.PatternLayout
log4j.appender.client_backend.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n

log4j.appender.common=org.apache.log4j.FileAppender
log4j.appender.common.File=logs/common.log
log4j.appender.common.layout=org.apache.log4j.PatternLayout
log4j.appender.common.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n

#log4j.appender.console=org.apache.log4j.ConsoleAppender
#log4j.appender.console.Target=System.out
#log4j.appender.console.layout=org.apache.log4j.PatternLayout
#log4j.appender.console.layout.conversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n
